<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

  <bean class="util.spring.PasswordDecodingPostProcessor"/>

  <bean id="testBean" class="util.spring.TestBean" p:password="!{ipc1i70y0pid0yjsg43mkj1d91bscg5m}"/>    

</beans>